@font-face {
        font-family: 'AntolojiFont';
        src: url('Antoloji-Images/fonts/Zona Black/Zona Black.ttf');
        font-style: normal;
}

div {
    font-family: 'AntolojiFont';
}

.AntolojiDiv{
    min-width: 150px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}
    
.AntolojiButtonStyle{
    font-family: 'AntolojiFont';
    color: rgb(255, 255, 255);
    background-color: rgba(20, 170, 220);
    height: 50px;
    width: 150px;
    font-size: 100%;
    cursor: pointer;
    border-radius: 100px;
    border: 0px;
    transition: all 0.4s ease;      
    top: 0;
}

.AntolojiStyleLogo{
    Background-color: rgb(217, 238, 247);
    color: rgb(217, 238, 247);
}

.antolojilogo{
    width: 50px;
    height: 50px;

}
/*
.AntolojiDiv:hover .AntolojiButtonStyleLogo{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}
.AntolojiDiv:hover .AntolojiButtonStyle{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}

.AntolojiButtonStyleLogo:hover + .AntolojiButtonStyle{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}

.AntolojiButtonStyle:hover + .AntolojiButtonStyleLogo{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}
*/



