@font-face {
        font-family: 'AntolojiFont';
        src: url('Antoloji Images/fonts/Zona Black.ttf') format('ttf');
    }
    
.SiirdefterimButtonStyle{
    color: rgba(218, 105, 18);
    background-color: rgba(47, 66, 85);
    height: 50px;
    width: 150px;
    font-size: 100%;
    cursor: pointer;
    border-radius: 100px;
    border: 0px;
    transition: all 0.4s ease;
}

.SiirdefterimButtonStyleLogo{
    color: rgba(218, 105, 18);
    background-color: rgba(47, 66, 85);
    height: 50px;
    width: 50px;
    font-size: 100%;
    border-width: 2px;
    border-radius: 50%;
    transition: all 0.4s ease;
    background-image: url(''); 
    background-position: center;
    border: none;      
    cursor: pointer;   
}

.SiirdefterimButtonStyleLogo:hover{
    background-color: rgba(218, 105, 18);
    color: rgba(47, 66, 85);
}

.SiirdefterimButtonStyleLogo:active{
    background-color: rgba(47, 66, 85);
}

.SiirdefterimButtonStyle:hover{
    background-color: rgba(218, 105, 18);
    color: rgba(47, 66, 85);
}

.SiirdefterimButtonStyle:active{
    background-color: rgba(47, 66, 85);
}

