.Body {
    margin-top: 120px;
}

/*? Template*/

    .TemplateDiv {
        background-color: rgba(1, 128, 181);
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        display: flex;
        height: 83px;
        z-index: 100;
        justify-content: space-between;
    }

    .FeatureIconsDiv {
        display: fixed;
        justify-content: space-between;
    }

    /*TODO Button */

    .TemplateButton {
        background-color: rgba(255, 145, 76);
        border-color: white;
        color: white;

        box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.75);
        border-style: solid;
        border-radius: 8px;
        
        cursor: pointer;

        padding: 0px 40px;
        margin: 8px 8px;
        
        font-size: 50px;
        font-family: 'Libre Franklin', sans-serif;
        font-style: bold;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        display: fixed;
    } 

    .TemplateButton:hover {
    background-color: rgb(255, 121, 39);
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 0px 40px;
    margin: 8px 8px;
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    text-decoration: none;
    display: fixed;    
    } 

    .TemplateButton:active {
    background-color: rgb(255, 98, 0);
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 0px 40px;
    margin: 8px 8px;
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    text-decoration: none;
    display: fixed;    
    }

    /*TODO Three Line Icon */

    .TemplateThreeLineIconImage{
        position: relative;
        display: fixed;
        cursor: pointer;
        border-radius: 50%;
        right: 5px;
        width: 40px;
        margin: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .TemplateThreeLineIconImage:hover {
        background-color: rgb(0, 111, 158);
        
    }

    .TemplateThreeLineIconImage:active {
        background-color: rgb(0, 89, 128);
    }

    /*TODO Theme Icon */

    .TemplateThemeIconImage {
        position: relative;
        display: fixed;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
        margin: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .TemplateThemeIconImage:hover {
        background-color: rgb(0, 111, 158);
    }

    .TemplateThemeIconImage:active {
        background-color: rgb(0, 89, 128);
    }

/*? Main Site*/

    .MainSiteDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 80px;
        height: 500px;
    }

    /*TODO Introduction*/

        .IntroductionHeaderDiv {
            background-color: rgb(217, 238, 247);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
            box-shadow: 3px 3px 20px 0px rgb(150, 173, 182);
        }

        .IntroductionDescriptionDiv {
            background-color: rgb(217, 238, 247);
            text-align: center;
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            min-height: 150px;
            box-shadow: 3px 3px 20px 0px rgb(150, 173, 182);
        }

        .IntroductionFotoImage {
            float: left;
            position: relative;
            z-index: 1;
            border-radius: 50%;
            height: 140px;
            margin: 5px;
        }

        .IntroductionText {
            position: relative;
            z-index: 2;
            border-radius: 6px;
            font-size: 17px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 400;
            line-height: 1.4;
        }

    /*TODO Links*/

        .LinksHeaderDiv {
            background-color: rgb(217, 238, 247);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
            margin-bottom: 17px;
            box-shadow: 3px 3px 20px 0px rgb(150, 173, 182);
        }

        .LinksDescriptionDiv {
            background-color: rgb(217, 238, 247);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
            min-height: 150px;
            box-shadow: 3px 3px 20px 0px rgb(150, 173, 182);
        }

    /*TODO Contact*/

        .ContactHeaderDiv {
            background-color: rgb(217, 238, 247);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
            margin-bottom: 17px;
            box-shadow: 3px 3px 20px 0px rgb(150, 173, 182);
        }

        .ContactDescriptionDiv {
            background-color: rgb(217, 238, 247);
            text-align: center;
            color: black;
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 400;
            min-height: 150px;
            box-shadow: 3px 3px 20px 0px rgb(150, 173, 182);
        }

/*? Telephone Style*/

    @media (max-width: 1100px) {

        .Body {
            margin-top: 250px;
        }

        .MainSiteDiv {
            grid-template-columns: 1fr;
        }


        .TemplateButton {
            margin: 43px 100px;
            margin-left: 40px;
            font-size: 90px;

        }

        .TemplateButton:hover {
            margin: 43px 100px;
            margin-left: 40px;
            font-size: 90px;
            
        }

        .TemplateDiv {
            height: 200px;
        }


        .IntroductionHeaderDiv {
            height: 70px;
            align-items: center;
            align-content: center;
            font-weight: 600;
            font-size: 50px;
        }
        
        .IntroductionText {
            font-size: 28px;
        }

        .IntroductionDescriptionDiv {
            margin-bottom: 17px;
            min-height: 220px;
        }

        .IntroductionFotoImage {
            float: left;
            position: relative;
            z-index: 1;
            border-radius: 50%;
            height: 200px;
            margin: 10px;
        }


        .LinksHeaderDiv {
            align-items: center;
            align-content: center;
            font-size: 50px;
            font-weight: 600;
            height: 70px;
        }

        .LinksDescriptionDiv {
            margin-bottom: 17px;
            height: 600px;
        }


        .ContactHeaderDiv {
            height: 70px;
            align-items: center;
            align-content: center;
            font-weight: 600;
            font-size: 50px;
        }

        .ContactDescriptionDiv {
            margin-bottom: 17px;
            color: black;
            font-size: 28px;
        }

        .TemplateThreeLineIconImage{
            width: 80px;
            position: relative;
            display: fixed;
            margin-top: 45px;
        }

        .TemplateThemeIconImage {
            width: 80px;
            margin-top: 45px;
            position: relative;
            display: fixed;
        }

        
    }    
