.BodyDarkMode {
    margin-top: 120px;
    background-color: rgb(56, 56, 56);
}

/*? Template*/

    .TemplateDivDarkMode {
        background-color: rgb(0, 69, 99);
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        display: flex;
        height: 83px;
        z-index: 100;
        justify-content: space-between;
    }

    .FeatureIconsDivDarkMode {
        display: fixed;
        justify-content: space-between;
    }

    /*TODO Button */

    .TemplateButtonDarkMode {
        background-color: rgb(172, 66, 0);
        border-color: white;
        color: white;

        box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.75);
        border-style: solid;
        border-radius: 8px;
        
        cursor: pointer;

        padding: 0px 40px;
        margin: 8px 8px;
        
        font-size: 50px;
        font-family: 'Libre Franklin', sans-serif;
        font-style: bold;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        display: fixed;
    } 

    .TemplateButtonDarkMode:hover {
    background-color: rgb(209, 80, 0);
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 0px 40px;
    margin: 8px 8px;
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    text-decoration: none;
    display: fixed;    
    } 

    .TemplateButtonDarkMode:active {
    background-color: rgb(255, 98, 0);
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 0px 40px;
    margin: 8px 8px;
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    text-decoration: none;
    display: fixed;    
    }

    /*TODO Three Line Icon */

    .TemplateThreeLineIconImageDarkMode{
        position: relative;
        display: fixed;
        cursor: pointer;
        border-radius: 50%;
        right: 5px;
        width: 40px;
        margin: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .TemplateThreeLineIconImageDarkMode:hover {
        background-color: rgb(0, 111, 158);
        
    }

    .TemplateThreeLineIconImageDarkMode:active {
        background-color: rgb(0, 89, 128);
    }

    /*TODO Theme Icon */

    .TemplateThemeIconImageDarkMode {
        position: relative;
        display: fixed;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
        margin: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .TemplateThemeIconImageDarkMode:hover {
        background-color: rgb(0, 111, 158);
    }

    .TemplateThemeIconImageDarkMode:active {
        background-color: rgb(0, 89, 128);
    }

/*? Main Site*/

    .MainSiteDivDarkMode {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 80px;
        height: 500px;
    }

    /*TODO Introduction*/

        .IntroductionHeaderDivDarkMode {
            background-color: rgb(94, 106, 110);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
        }

        .IntroductionDescriptionDivDarkMode {
            background-color: rgb(94, 106, 110);
            text-align: center;
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            min-height: 150px;
        }

        .IntroductionFotoImageDarkMode {
            float: left;
            position: relative;
            z-index: 1;
            border-radius: 50%;
            height: 140px;
            margin: 5px;
        }

        .IntroductionTextDarkMode {
            position: relative;
            z-index: 2;
            border-radius: 6px;
            font-size: 17px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 400;
            line-height: 1.4;
            color:white;
        }

    /*TODO Links*/

        .LinksHeaderDivDarkMode {
            background-color: rgb(94, 106, 110);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
            margin-bottom: 17px;
        }

        .LinksDescriptionDivDarkMode {
            background-color: rgb(94, 106, 110);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
            min-height: 150px;
        }

    /*TODO Contact*/

        .ContactHeaderDivDarkMode {
            background-color: rgb(94, 106, 110);
            text-align: center;
            color: rgb(255, 98, 0);
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 500;
            margin-bottom: 17px;
        }

        .ContactDescriptionDivDarkMode {
            background-color: rgb(94, 106, 110);
            text-align: center;
            color: white;
            border-radius: 6px;
            font-size: 20px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: bold;
            font-weight: 400;
            min-height: 150px;
        }

/*? Telephone Style*/

    @media (max-width: 1100px) {

        .BodyDarkMode {
            margin-top: 250px;
        }

        .MainSiteDivDarkMode {
            grid-template-columns: 1fr;
        }


        .TemplateButtonDarkMode {
            margin: 43px 100px;
            margin-left: 40px;
            font-size: 90px;

        }

        .TemplateButtonDarkMode:hover {
            margin: 43px 100px;
            margin-left: 40px;
            font-size: 90px;
            
        }

        .TemplateDivDarkMode {
            height: 200px;
        }


        .IntroductionHeaderDivDarkMode {
            height: 70px;
            align-items: center;
            align-content: center;
            font-weight: 600;
            font-size: 50px;
        }
        
        .IntroductionTextDarkMode {
            font-size: 28px;
        }

        .IntroductionDescriptionDivDarkMode {
            margin-bottom: 17px;
            min-height: 220px;
        }

        .IntroductionFotoImageDarkMode {
            float: left;
            position: relative;
            z-index: 1;
            border-radius: 50%;
            height: 200px;
            margin: 10px;
        }


        .LinksHeaderDivDarkMode {
            align-items: center;
            align-content: center;
            font-size: 50px;
            font-weight: 600;
            height: 70px;
        }

        .LinksDescriptionDivDarkMode {
            margin-bottom: 17px;
            height: 600px;
        }


        .ContactHeaderDivDarkMode {
            height: 70px;
            align-items: center;
            align-content: center;
            font-weight: 600;
            font-size: 50px;
        }

        .ContactDescriptionDivDarkMode {
            margin-bottom: 17px;
            color: black;
            font-size: 28px;
        }

        .TemplateThreeLineIconImageDarkMode{
            width: 80px;
            position: relative;
            display: fixed;
            margin-top: 45px;
        }

        .TemplateThemeIconImageDarkMode {
            width: 80px;
            margin-top: 45px;
            position: relative;
            display: fixed;
        }

        
    }    
