@font-face {
        font-family: 'AntolojiFont';
        src: url('Antoloji Images/fonts/Zona Black.ttf') format('ttf');
}
    
.BaalYouTubeButtonStyleDarkMode{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 50px;
    width: 150px;
    font-size: 100%;
    cursor: pointer;
    border-radius: 100px;
    border: 0px;
    transition: all 0.4s ease;
}

.BaalYouTubeButtonStyleLogoDarkMode{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 50px;
    width: 50px;
    font-size: 200%;
    border-width: 2px;
    border-radius: 50%;
    transition: all 0.4s ease;
    background-image: url(''); 
    background-position: center;
    border: none;      
    cursor: pointer;   
}

.BaalYouTubeButtonStyleLogoDarkMode:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.BaalYouTubeButtonStyleLogoDarkMode:active{
    background-color: rgba(255, 0, 0);
}

.BaalYouTubeButtonStyleDarkMode:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.BaalYouTubeButtonStyleDarkMode:active{
    background-color: rgba(255, 0, 0);
}

.EkshyYouTubeButtonStyleDarkMode{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 50px;
    width: 150px;
    font-size: 100%;
    cursor: pointer;
    border-radius: 100px;
    border: 0px;
    transition: all 0.4s ease;
}

.EkshyYouTubeButtonStyleLogoDarkMode{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 50px;
    width: 50px;
    font-size: 200%;
    border-width: 2px;
    border-radius: 50%;
    transition: all 0.4s ease;
    background-image: url(''); 
    background-position: center;
    border: none;      
    cursor: pointer;
    img {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.EkshyYouTubeButtonStyleLogoDarkMode:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.EkshyYouTubeButtonStyleLogoDarkMode:active{
    background-color: rgba(255, 0, 0);
}

.EkshyYouTubeButtonStyleDarkMode:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.EkshyYouTubeButtonStyleDarkMode:active{
    background-color: rgba(255, 0, 0);
}

@media (max-width: 1100px) {
    .EkshyYouTubeButtonStyleDarkMode{
        height: 100px;
        width: 300px;
        font-size: 50px;
    }
    .BaalYouTubeButtonStyleDarkMode{
        height: 100px;
        width: 300px;
        font-size: 50px;
    }
    .EkshyYouTubeButtonStyleLogoDarkMode, .BaalYouTubeButtonStyleLogoDarkMode{
        visibility: hidden;
    }
}
