@font-face {
        font-family: 'AntolojiFont';
        src: url('Antoloji Images/fonts/Zona Black/Zona Black.ttf');
        font-style: normal;
}

div {
    font-family: 'AntolojiFont';
}
    
.AntolojiButtonStyle{
    font-family: 'AntolojiFont';
    color: rgb(255, 255, 255);
    background-color: rgba(20, 170, 220);
    height: 150px;
    width: 300px;
    font-size: 200%;
    cursor: pointer;
    border-radius: 100px;
    border: 0px;
    transition: all 0.4s ease;      
    top: 0;
}

.AntolojiButtonStyleLogo{
    color: rgb(255, 255, 255);
    background-color: rgba(20, 170, 220);
    height: 150px;
    width: 150px;
    font-size: 200%;
    border-width: 2px;
    border-radius: 80%;
    transition: all 0.4s ease;
    
    background-image: url('Antoloji Images/AdpyCYqh_400x400.jpg'); 
    background-position: center;
    border: none;      
    cursor: pointer;   

}
/*
.AntolojiDiv:hover .AntolojiButtonStyleLogo{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}
.AntolojiDiv:hover .AntolojiButtonStyle{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}
*/
.AntolojiButtonStyleLogo:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}

.AntolojiButtonStyleLogo img{
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.AntolojiButtonStyle:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}
/*
.AntolojiButtonStyleLogo:hover + .AntolojiButtonStyle{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}

.AntolojiButtonStyle:hover + .AntolojiButtonStyleLogo{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 170, 220);
}
*/
.AntolojiButtonStyle:active{
    background-color: rgba(20, 170, 220);
}

.AntolojiDiv{
    min-width: 150px;
    min-height: 300px;
    position: static;
    grid-template-columns: 1fr 1fr 1fr;
}
