@font-face {
        font-family: 'AntolojiFont';
        src: url('Antoloji Images/fonts/Zona Black.ttf') format('ttf');
}
    
.BaalYouTubeButtonStyle{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 150px;
    width: 300px;
    font-size: 200%;
    cursor: pointer;
    border-radius: 100px;
    border: 0px;
    transition: all 0.1s ease;
}

.BaalYouTubeButtonStyleLogo{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 150px;
    width: 150px;
    font-size: 200%;
    border-width: 2px;
    border-radius: 50%;
    transition: all 0.1s ease;
    background-image: url(''); 
    background-position: center;
    border: none;      
    cursor: pointer;   
}

.BaalYouTubeButtonStyleLogo:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.BaalYouTubeButtonStyleLogo:active{
    background-color: rgba(255, 0, 0);
}

.BaalYouTubeButtonStyle:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.BaalYouTubeButtonStyle:active{
    background-color: rgba(255, 0, 0);
}

.EkshyYouTubeButtonStyle{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 150px;
    width: 300px;
    font-size: 200%;
    cursor: pointer;
    border-radius: 100px;
    border: 0px;
    transition: all 0.1s ease;
}

.EkshyYouTubeButtonStyleLogo{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0);
    height: 150px;
    width: 150px;
    font-size: 200%;
    border-width: 2px;
    border-radius: 50%;
    transition: all 0.1s ease;
    background-image: url(''); 
    background-position: center;
    border: none;      
    cursor: pointer;   
}

.EkshyYouTubeButtonStyleLogo:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.EkshyYouTubeButtonStyleLogo:active{
    background-color: rgba(255, 0, 0);
}

.EkshyYouTubeButtonStyle:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.EkshyYouTubeButtonStyle:active{
    background-color: rgba(255, 0, 0);
}
